<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener
			class-name="utilities.ExtentReportManager" />
	</listeners>
  <test thread-count="2" name="Luma Test">
    <classes>
      <class name="TestCases.TC_002_LogIn"/>
      <class name="TestCases.TC_003_AddToCart"/>
      <class name="TestCases.TC_001_CreateNewAC"/>
      <class name="TestCases.TC_004_RemoveToCart"/>
    </classes>
  </test> <!-- Luma Test -->
</suite> <!-- Suite -->
